@media screen and (-webkit-min-device-pixel-ratio: 0) {
  nav {
    width: 14%;
    position: -webkit-sticky;
  }

  nav ul {
    padding-top: 40%;
  }

  #externals {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  /* START HOME PAGE */
  #home {
    background-color: white;
    position: relative;
    padding: 0%;
    margin-top: 0px;
    width: auto;
    height: 100vh;
    margin-left: 14%;
  }

  #headshot img {
    border-radius: 50%;
    padding-top: 3%;
  }

  #home h1 {
    font-size: 300%;
  }

  #home h2 {
    font-family: "Bungee", sans-serif;
    font-size: 150%;
  }

  #bio {
    font-family: "Nanum Gothic Coding", sans-serif;
    font-size: 130%;
  }

  /* END HOME PAGE */

  /* START ABOUT PAGE */

  #about {
    background-color: white;
    position: relative;
    padding: 30px;
    margin-top: 0px;
    width: auto;
    height: 100vh;
    margin-left: 14%;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: black;
  }

  /* END ABOUT PAGE */

  /* START SKILLS PAGE */
  #skills {
    background-color: white;
    padding: 20px;
    margin-top: 0px;
    width: auto;
    height: 100vh;
    margin-left: 14%;
  }
  /* END SKILLS PAGE */

  /* START EXPERIENCE PAGE */
  #experience {
    background-color: white;
    position: relative;
    padding: 30px;
    margin-top: 0px;
    width: auto;
    height: 100vh;
    margin-left: 14%;
  }
  /* END EXPERIENCE PAGE */

  /* START PROJECTS PAGE */

  #projects {
    background-color: white;
    position: relative;
    padding: 30px;
    margin-top: 0px;
    width: auto;
    min-height: 100vh;
    margin-left: 14%;
  }

  /* END PROJECTS PAGE */
}
