html{
    background-color: dimgrey;
}

body{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    margin-left: 0;
    background-color: firebrick;
    height: 982px;
    min-width: 250px;
    position: sticky;
    float: left;
    top: 0;
    
}
nav ul{
    
    position: sticky;
    display: block;
    list-style-type: none;
    padding-top: 200px;
}

nav ul li{
    font-family: sans-serif;
    color: white;
    padding: 20px;
}

#about{
    
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}

#skills{
    
     
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}

#experience{
    
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}

#projects{
    
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}

#about h1, h2, p{
    font-family: sans-serif;
}

#headshot img{
    
    border-radius: 50%;
    padding-top: 20px;
}