html{
    background-color: dimgrey;
}

body{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}

/* START NAVBAR LAYOUT PAGE */
nav{
    margin-left: 0;
    background-color: firebrick;
    height: 982px;
    min-width: 250px;
    position: sticky;
    float: left;
    top: 0;
    
}
nav ul{
    position: sticky;
    display: block;
    list-style-type: none;
    padding-top: 200px;
}

nav ul li{
    font-family: sans-serif;
    color: white;
    padding: 20px;
}

#externals{
    font-family: sans-serif;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 170px;
}

#linkedin{
    border-radius: 50%;
    padding: 20px;
}

#github{
    padding: 20px;
}

/* END NAVBAR LAYOUT */

/* START ABOUT PAGE */
#about{
    
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
    
    
}

#headshot img{
    
    border-radius: 50%;
    padding-top: 20px;
}

#about h1{
    font-family: 'Bungee', sans-serif;
    font-size: 400%;
}

#about h2{
    font-family: 'Bungee', sans-serif;
    font-size: 200%;
}

#bio{
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-size: 150%;
}

#contact p{
    display: inline;
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-size: 150%;
    margin-left: -550px;
}

#email{
   
    float: left;
    margin-top: -12px;
    margin-left: 550px;
    
}

/* END ABOUT PAGE */



/* START SKILLS PAGE */
#skills{
    
     
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}

/* END SKILLS PAGE */


/* START EXPERIENCE PAGE */

#experience{
    
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}

#projects{
    
    background-color: white;
    position: relative;
    padding: 30px; 
    margin-top: 0px;  
    width: auto;
    height: 920px;
    margin-left: 250px;
    text-align: center;
}


/* END EXPERIENCE PAGE */
